/* DoctorsPage.css */
.doctors-page h1 {
  font-size: 52px;
  margin-bottom: 16px;
  margin-right: -50px;

}

.doctors-page p {
  color: #6b7280;
  margin-bottom: 40px;
}

.doctors-page{
  padding: 80px 0;
}