.machinery-detail {
  background: #f9fbfd;
  padding: 80px 0;
  height: 80vh;
}

.detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.detail-image{
  width: 32em;
  height: 30em;
  border-radius: 20px;
  box-shadow: 0 12px 32px rgba(0,0,0,0.12);
}

.detail-image img{
  width: 100%;
  height: 100%;
}

.detail-content h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

.tech {
  color: #2a9df4;
  font-weight: 500;
  margin-bottom: 24px;
}

.detail-content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.detail-content ul {
  margin-left: 16px;
}

.detail-content li {
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .detail-grid {
    grid-template-columns: 1fr;
  }
}
