.footer {
  background: linear-gradient(135deg, #f0f9ff 0%, #cbebff 100%);
  /* color: white; */
  margin-top: 5px;
  padding: 60px 0 30px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-section h3 {
  margin-bottom: 16px;
  font-size: 18px;
}

.footer-text {
  font-size: 14px;
  margin-bottom: 20px;
  /* color: #e6fffa; */
}

.logo {
  font-size: 24px;
  margin-bottom: 12px;
}
.logo-white{
color: black;
}

.logo-blue {
  color: #2a9df4;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color:black;
  font-size: 14px;
  transition: 0.3s ease;
}

.footer-section ul li a:hover {
  color: #2a9df4;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 35px;
  height: 35px;
  color:#2a9df4;
  background: white;
  border: none;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: 0.5s;
}

.social-icons a:hover {
  transform: scale(1.2);
  background: #2a9df4;
  color: white;
}

.contact-info li {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 14px;
  color: #2a9df4;
}